body {
    font-family: 'Poppins', sans-serif;
}
section {
    display: flex;
    margin-bottom: 150px;
}
.top-banner {
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width {
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width h1 {
    font-size: 50px;
}
.half-width img {
    width: 80%;
}
.text-orange {
    color: orange;
}
.dream-area {
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(lightsalmon,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
}